@use '../settings/colors' as *;
@use '../settings/spacing' as *;

.navbar {
    background-color: $pitch-black;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
#pizza-logo {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        margin-left: $spacing-2xl;
    }

}
    .store-title {
        color: $maroon;
        font-size: 1.5rem;
        font-weight: bold;
    }