@use '../settings/colors' as *;
@use '../settings/typography' as *;
@use '../tools/mixins' as *;
@use '../base/elements' as *;

.offer-title {
    @include heading-2;
    text-align: center;
    color: $princeton-orange;
    margin-bottom: 30px;
}
.offer-card {
    position: relative;
    width: 700px;
    border: 5px $princeton-orange solid;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 50px auto;

    &:hover .overlay {
        opacity: 0;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($princeton-orange, 0.9);
        opacity: 1;
        transition: opacity 0.4s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;

        .offer-text {
            color: white;
            padding: 20px;

            h2 {
                font-size: 28px;
                font-weight: bold;
                line-height: 1.4;
            }
        }
    }

    img {
        width: 100%;
        height: auto;
        display: block;
    }
}