$pitch-black: #0a0903ff;
$maroon: #dc3545ff;
$red: #ff0000ff;
$princeton-orange: #ff8200ff;
$princeton-orange-second: rgba(255, 149, 35, 0.889);
$amber-glow: #ffa200ff;
$amber-gold: #ffc100ff;
$vanilla-custard: #ffeaaeff;