@use '../settings/colors' as *;
@use '../settings/typography' as *;

*{
    font-family: 'Zain', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-title {
    @include heading-2;
    text-align: center;
    color: $princeton-orange;
    margin-bottom: 30px;
}