// Import Bootstrap and custom settings
@use 'bootstrap/scss/bootstrap' as *;
@use 'settings/colors' as *;
@use 'settings/typography' as *;
@use 'tools/mixins' as *;
@use 'base/elements' as *;
@use 'components/navbar' as *;
@use 'components/hero' as *;
@use 'components/offer' as *;
@use 'components/pizza-carousel' as *;
@use 'components/pizza-card' as *;
@use 'components/comments' as *;
@use 'components/about' as *;
@use 'components/contact' as *;
@use 'components/footer' as *;
@use 'trumps/utilities' as *;

// Import Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');